<!DOCTYPE html>

<html>
<head>
    <title>Recipes</title>
    <link rel="stylesheet" href="/assets/style.css">
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="/assets/loading-script.js"></script>-->
</head>

<body>
    <nav id="main-nav">
        <ul>
            <li id="nav-logo">
                <%= link_to root_path do %>
                     <%= image_tag "budget-basket.png" %>
                <% end %>
            </li>
            <li><%= link_to "All Recipes", allRecipes_path, class:"active" %></li>
            <li><%= link_to "Basket Ingredients", basket_path %></li>
            <!--<li><%# link_to "Calculate Budget", calculation_path %></li>-->
            <li><%= link_to "My Shopping Plan", calculation_path %></li>
            
        </ul>
    </nav>
<h1>Available Recipes</h1>
<br/>
<div class="delete-basket-btn">
    <%= link_to 'Empty Basket', {:controller => "recipes", :action => "resetRecipeCounts"}, :class => 'button'%>
</div>
<div id="recipes-table">
    <table>
        <tr>
            <th>Recipe Name</th>
            <th>Ingredients in Recipe</th>
            <th class="addDelete">Count in Basket</th>
        </tr>
        
        <% @recipes.each do |recipe| %>
           <tr>
               <td><%= recipe.recipe_name %></td>
               <td style="text-align:left"><%= recipe.recipe_ingredient_array %></td>
               <td>
                   <%= link_to '-', {:controller => "recipes", :action => "deleteRecipeFromBasket", :recipe => recipe.id}, :class => 'deleteBtn'%>
                   <div class="count">
                       <%= recipe.recipe_count_in_basket %>
                   </div>
                   <%= link_to '+', {:controller => "recipes", :action => "addRecipeToBasket", :recipe => recipe.id}, :class => 'addBtn'%>
               </td>
           </tr>
        <% end %>
        
    </table>
</div>
<div class="next-step-btn">
        <%# link_to "Add Recipe(s) to Basket", basket_path, class: "button" %>
        <%= link_to "View My Basket", basket_path, class: "button" %>
    </div>

</body>
</html>