<!DOCTYPE html>

<html>
<head>
    <title>Recipes</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
    <nav id="main-nav">
        <ul>
            <li id="nav-logo">
                <%= link_to root_path do %>
                     <%= image_tag "budget-basket.png" %>
                <% end %>
            </li>
            <li><%= link_to "All Recipes", allRecipes_path, class:"active" %></li>
            <li><%= link_to "Basket Ingredients", basket_path %></li>
            <li><%= link_to "Calculate Budget", calculation_path %></li>
            
        </ul>
    </nav>
<h1>Available Recipes</h1>
<div id="recipes-table">
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Flags</th>
            <th>Select</th>
        </tr>
        <tr>
            <td>Chicken Parmesan</td>
            <td>Breaded chicken breast covered in tomato sauce and mozzarella, parmesan, or provolone cheese.</td>
            <td>None</td>
            <td><input type="checkbox" name="select-recipe" /></td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            <td>None</td>
            <td><input type="checkbox" name="select-recipe" /></td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
            <td>None</td>
            <td><input type="checkbox" name="select-recipe" /></td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio ante, lacinia in metus non, tempus consectetur nulla. Vestibulum rhoncus.</td>
            <td>None</td>
            <td><input type="checkbox" name="select-recipe" /></td>
        </tr>
        <tr>
            <td>Lorem Ipsum</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio ante, lacinia in metus non, tempus consectetur nulla. Vestibulum rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio ante, lacinia in metus non, tempus consectetur nulla. Vestibulum rhoncus.</td>
            <td>None</td>
            <td><input type="checkbox" name="select-recipe" /></td>
        </tr>
    </table>
</div>
<br/>
<div class="next-step-btn">
        <<%= link_to "Add Recipe(s) to Basket", basket_path, class: "button" %>
    </div>


</body>
</html>
