<!DOCTYPE html>

<html>
<head>
    <title>Budget Basket</title>
    <meta name="description" content="Budget Basket">
    <meta name="author" content="Sarah Taylor">
    
    <link rel="stylesheet" href="../assets/style.css">
    <%= csrf_meta_tags %>
</head>

<body>

<nav id="main-nav">
        <ul>
            <li id="nav-logo">
                <%= link_to root_path do %>
                     <%= image_tag "budget-basket.png" %>
                <% end %>
            </li>
            <li><%= link_to "All Recipes", allRecipes_path %></li>
            <li><%= link_to "Basket Ingredients", basket_path %></li>
            <!--<li><%# link_to "Calculate Budget", calculation_path %></li>-->
            <li><%= link_to "My Shopping Plan", calculation_path %></li>
        </ul>
    </nav>
<div id="logo">
    <img src="/assets/budget-basket.png"/>
</div>

<div id="main-content">
    <div id="row-content">
        <div class="flex-four" id="one">
            <img src="/assets/list.png">
            <br/>
            <p>
                Find A Recipe
            </p>
        </div>
        <div class="flex-four" id="two">
            <img src="/assets/basket.png">
            <br/>
            <p>
                Build A Basket
            </p>
        </div>
        <div class="flex-four" id="three">
            <img src="/assets/dollar-sign-symbol.png">
            <br/>
            <p>
                Budget Your Basket
            </p>
        </div>
        <div class="flex-four" id="four">
            <img src="/assets/groceries.png">
            <br/>
            <p>
                Shop Your Budget
            </p>
        </div>
    </div>
    <br/>
    <div class="next-step-btn">
            <%= link_to "Check Out Our Recipes", allRecipes_path, class: "button" %>
    </div>

    <%# link_to 'Press me', button_path, :class => 'btn btn-primary'%>

</div>

</body>
</html>
