<!DOCTYPE html>

<html>
<head>
    <title>Calculation</title>
    <link rel="stylesheet" href="../assets/style.css">
    <script src="../assets/canvas.js"></script>
    <script src="../assets/loadInData.js"></script>
</head>

<body>
    
    <nav id="main-nav">
        <ul>
            <li id="nav-logo">
                <%= link_to root_path do %>
                     <%= image_tag "budget-basket.png" %>
                <% end %>
            </li>
            <li><%= link_to "All Recipes", allRecipes_path %></li>
            <li><%= link_to "Basket Ingredients", basket_path %></li>
            <!--<li><%# link_to "Calculate Budget", calculation_path, class:"active"%></li>-->
            <li><%= link_to "My Shopping Plan", calculation_path, class:"active"%></li>
        </ul>
    </nav>
    <h1>Shopping Plan</h1>
    <div id="calculation-content">
        <div class="calculation">
            <div class="route">
                <p class="p-canvas">
                <canvas id="route-map" height= "300px" width="300px"></canvas>
                </p>
                
                
            </div>
            <div did="calculation-info">
                <div class="data" id="shopping-list">
                    <span class="title">Shopping List: </span>
                    <span class="value"></span>
                </div>
                <div class="data" id="sub-items">
                    <span class="title">Substituted Items: </span>
                    <span class="value"></span>
                </div>
                <div class="data" id="na-items">
                    <span class="title">Not Available Items: </span>
                    <span class="value"></span>
                </div>
                <div class="data" id="ingredient-cost">
                    <span class="title">Ingredient Cost: $</span>
                    <span class="value"></span>
                </div>
                <div class="data" id="route-cost">
                    <span class="title">Gas Cost: $</span>
                    <span class="value"></span>
                </div>
                <div class="data" id="total-cost">
                    <span class="title">Total: $</span>
                    <span class="value"></span>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        loadJSON(function(json) {
            sendJson(json);
        });
    </script>
</body>
</html>
