<!DOCTYPE html>

<html>
<head>
    <title>Calculation</title>
    <link rel="stylesheet" href="../assets/style.css">
    <script src="../assets/canvas.js"></script>
    <script src="../assets/loadInData.js"></script>
</head>

<body>
    
    <nav id="main-nav">
        <ul>
            <li id="nav-logo">
                <%= link_to root_path do %>
                     <%= image_tag "budget-basket.png" %>
                <% end %>
            </li>
            <li><%= link_to "All Recipes", allRecipes_path %></li>
            <li><%= link_to "Basket Ingredients", basket_path %></li>
            <!--<li><%# link_to "Calculate Budget", calculation_path, class:"active"%></li>-->
            <li><%= link_to "My Shopping Plan", calculation_path, class:"active"%></li>
        </ul>
    </nav>
    <h1>Basket Calculations</h1>
    <div id="calculation-content">
        <div class="calculation">
            <div class="route">
                <p class="p-canvas">
                <canvas id="route-map" height= "200px" width="200px"></canvas>
                </p>
                
                
            </div>
            
            
            <div class="route-info">
                <h2>Route #1</h2>
                <p>These items were not found</p>
            </div>
            
            <div class="total">
                <p>Total: $</p>
            </div>
        </div>
    </div>
    <script>
        loadJSON(function(json) {
            sendJson(json);
        });
    </script>
</body>
</html>
