<!DOCTYPE html>

<html>
<head>
    <title>Calculation</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>

<body>
    <nav id="main-nav">
        <ul>
            <li id="nav-logo">
                <%= link_to root_path do %>
                     <%= image_tag "budget-basket.png" %>
                <% end %>
            </li>
            <li><%= link_to "All Recipes", allRecipes_path %></li>
            <li><%= link_to "Basket Ingredients", basket_path %></li>
            <li><%= link_to "Calculate Budget", calculation_path, class:"active"%></li>
        </ul>
    </nav>
    <h1>Basket Calculations</h1>
    <div id="calculation-content">
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
            <br>
            <div class="total">
                <p>Total Amount</p>
            </div>
        </div>
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
        </div>
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
        </div>
    </div>
    


</body>
</html>
